{% extends 'adminka/base.html' %}
{% load static %}

{% block css %}{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Налаштування головної сторінки</h1>
</div>

<h4>Банери</h4>
<div class="row g-3">
    {% for slider in sliders %}
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <form method="post" enctype="multipart/form-data">
                <div class="card h-100">
                    {% csrf_token %}
                    <img src="{{ slider.image.url }}" class="card-img-top">
                    <input type="hidden" name="id" value="{{ slider.id }}" hidden>
                    <div class="card-body d-flex flex-column">
                        <div class="card-text">
                            <input type="file" name="image" accept="image/*">
                        </div>
                        <div class="card-text mt-2">
                            <input type="text" class="form-control form-control-sm" name="title" value="{{ slider.title }}" placeholder="Заголовок" required>
                        </div>
                        <div class="card-text mt-2">
                            <textarea class="form-control form-control-sm" rows="3" name="description" placeholder="Текст">{{ slider.description }}</textarea>
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control" name="button_1" value="{{ slider.button_1 }}" placeholder="Назва">
                            <input type="text" class="form-control" name="url_1" value="{{ slider.url_1 }}" placeholder="Посилання">
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control" name="button_2" value="{{ slider.button_2 }}" placeholder="Назва">
                            <input type="text" class="form-control" name="url_2" value="{{ slider.url_2 }}" placeholder="Посилання">
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control" name="button_3" value="{{ slider.button_3 }}" placeholder="Назва">
                            <input type="text" class="form-control" name="url_3" value="{{ slider.url_3 }}" placeholder="Посилання">
                        </div>
                        <div class="d-flex gap-2 mt-2">
                            <button type="submit" class="btn btn-outline-danger btn-sm flex-fill" name="delete">Видалити</button>
                            <button type="submit" class="btn btn-outline-success btn-sm flex-fill">Зберегти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endfor %}

    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <form method="post" enctype="multipart/form-data">
            <div class="card h-100">
                {% csrf_token %}
                <img src="https://dummyimage.com/1920x900/dee2e6/6c757d.jpg" class="card-img-top">
                
                <div class="card-body d-flex flex-column">
                    <div class="card-text">
                        {{ form.image }}
                    </div>

                    <div class="card-text mt-2">
                        <input type="text" class="form-control form-control-sm" name="title" value="" placeholder="Заголовок" required>
                    </div>

                    {% if form.description %}
                    <div class="card-text mt-2">
                        <textarea class="form-control form-control-sm" rows="3" name="description" placeholder="Текст"></textarea>
                    </div>
                    {% endif %}

                    {% if form.button_1 %}
                    <div class="input-group input-group-sm mt-2">
                        <input type="text" class="form-control" name="button_1" value="" placeholder="Назва">
                        <input type="text" class="form-control" name="url_1" value="" placeholder="Посилання">
                    </div>
                    {% endif %}

                    {% if form.button_2 %}
                    <div class="input-group input-group-sm mt-2">
                        <input type="text" class="form-control" name="button_2" value="" placeholder="Назва">
                        <input type="text" class="form-control" name="url_2" value="" placeholder="Посилання">
                    </div>
                    {% endif %}

                    {% if form.button_3 %}
                    <div class="input-group input-group-sm mt-2">
                        <input type="text" class="form-control" name="button_3" value="" placeholder="Назва">
                        <input type="text" class="form-control" name="url_3" value="" placeholder="Посилання">
                    </div>
                    {% endif %}

                    <div class="d-flex gap-2 mt-2">
                        <button type="submit" class="btn btn-outline-danger btn-sm flex-fill" name="delete">Видалити</button>
                        <button type="submit" class="btn btn-outline-success btn-sm flex-fill">Зберегти</button>
                    </div>
                </div>
            </div>
        </form>
	</div>

</div>
{% endblock %}

{% block javascript %}{% endblock %}