{% extends 'base.html' %}
{% load static %}

{% block css %}{% endblock %}

{% block content %}
<!-- PRIVACY POLICY AREA -->
<div class="blog_area blog-details-area pb-100" id="blog">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-md-12">
						<div class="blog_details">

							<div class="blog_dtl_content">
								<div class="blog_dtl_top_bs pt-2">
									<span>ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</span>
								</div>
								<h2>НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ ВОДНОГО ГОСПОДАРСТВА ТА ПРИРОДОКОРИСТУВАННЯ</h2>

								<div class="techno-blog-meta">
									<div class="techno-blog-meta-left pb-0">
										<span>
											<i class="fa fa-calendar"></i>
											17.07.2023
										</span>
									</div>
								</div>

								<h3>1. Загальні положення</h3>

								<p>
									ДЕРЖАВНИЙ ВИЩИЙ НАВЧАЛЬНИЙ ЗАКЛАД «НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ ВОДНОГО ГОСПОДАРСТВА ТА ПРИРОДОКОРИСТУВАННЯ», надалі – «НУВГП», з повагою ставиться до конфіденційної інформації та персональних даних будь-якої особи, яка відвідує наш <b>веб-портал</b> або використовує <b>мобільний додаток «Мій НУВГП»</b>. На цій сторінці Ви можете ознайомитися з інформацією про те, які саме дані можуть збиратися та як вони можуть використовуватися. Ви також дізнаєтеся про те, як Ви можете перевірити правильність зібраної інформації і дати нам вказівку про вилучення такої інформації. Дані збираються, обробляються і використовуються у суворій відповідності до вимог чинного законодавства України, зокрема Закону України «Про захист персональних даних», а також з урахуванням положень Загального регламенту захисту даних (GDPR). 
								</p>

								<p>
									Дана політика не поширюється на інші веб-сайти або мобільні додатки, перехід на які здійснюється за допомогою гіперпосилань, розміщених на веб-порталі НУВГП або у мобільному додатку «Мій НУВГП».
								</p>

								<h3>2. Збір, використання і переробка персональних даних</h3>

								<p>
									Ми збираємо інформацію, яка стосується певних осіб, лише з метою обробки і використання, і лише в тому випадку, якщо Ви добровільно надали інформацію або чітко висловили згоду на її використання.
								</p>
								<p>
									2.1 При відвідуванні веб-порталу: певні дані автоматично записуються на сервер НУВГП для системного адміністрування, а також для статистичних або резервних цілей. Записана інформація містить дані про країну, з якої Ви відвідали наш веб-сайт, назву Вашого Інтернет-провайдера, в деяких випадках Вашу ІР-адресу, дані про версію програмного забезпечення Вашого браузера, про операційну систему, пошуковий веб-сайт, який Ви використовуєте, щоб відвідати нас. Залежно від обставин, така інформація дозволяє зробити висновки про те, яка аудиторія відвідує наш веб-портал. Однак у даному контексті не використовуються жодні персональні дані, крім даних, обмежених корпоративним обліковим записом домену nuwm.edu.ua. Використовуватися може лише анонімна інформація.
								</p>

								<p>
									2.2 При використанні мобільного додатку «Мій НУВГП»: додаток може збирати такі типи даних:
									<ul class="pl-5">
										<li>
											<b>Ім'я користувача, Email та Фото профілю:</b> Ці дані використовуються для ідентифікації користувача в системі, персоналізації досвіду та забезпечення функціоналу, пов'язаного з обліковим записом.
										</li>
										<li>
											<b>Події Google Календаря:</b> Додаток може отримувати доступ до Вашого Google Календаря для відображення подій, пов'язаних з навчальним процесом, розкладом або іншими активностями НУВГП, які Ви бажаєте синхронізувати. Додаток не змінює Ваші події та не передає їх третім особам без Вашої прямої згоди.
										</li>
										<li>
											<b>Токен для роботи сервісу сповіщень:</b> Цей токен є унікальним ідентифікатором, який дозволяє додатку надсилати Вам push-сповіщення про важливі події, новини, зміни в розкладі тощо.
										</li>
										<li>
											<b>Інформація про використання додатку:</b> Збирається анонімна інформація про те, як Ви взаємодієте з додатком (наприклад, переглянуті екрани, час, проведений у додатку, функціональні можливості, що використовуються). Ці дані допомагають нам покращувати функціональність та користувацький досвід додатку.
										</li>
									</ul>
								</p>

								<p>
									Якщо інформація передається НУВГП зовнішньому провайдеру, вживаються всі можливі технічні та організаційні заходи, що гарантують передачу даних відповідно до вимог чинного законодавства України про захист персональних даних.
								</p>
								<p>
									Будь-які зміни у політиці конфіденційності будуть публікуватися на даній веб-сторінці та у відповідному розділі мобільного додатку. Це дозволяє Вам у будь-який час отримати інформацію про те, які дані у нас зберігаються, і про те, яким чином ми їх збираємо і зберігаємо.
								</p>

								<h3>3. Безпека даних</h3>

								<p>
									Реєструючись шляхом верифікації існуючого облікового запису за допомогою зовнішніх провайдерів на нашому веб-порталі або авторизуючись у мобільному додатку «Мій НУВГП», Ви підтверджуєте, що ознайомилися з положеннями цієї політики конфіденційності і приймаєте всі її умови без заперечень, а також надали свою згоду на обробку і передачу персональних даних.
								</p>
								<p>
									Користувач своєю згодою з цією політикою конфіденційності підтверджує, що він як суб'єкт персональних даних відповідно до положень GENERAL DATA PROTECTION REGULATION (GDPR) дав свою згоду НУВГП, який виступає контролером або процесором / оброблювачем або третьою особою в розумінні GDPR і використовує веб-портал та мобільний додаток, на обробку його персональних даних.
								</p>
								<p>
									Під час верифікації/авторизації Ви надаєте відомості про: прізвище; ім’я; по батькові; псевдонім; електронну адресу. А у випадках використання корпоративного облікового запису в межах домену nuwm.edu.ua додатково: телефон; посаду; причетність до навчального закладу. Такі дані надаються користувачем веб-порталу або мобільного додатку при авторизації у системі. Термін зберігання даних 12 місяців. Після закінчення терміну зберігання дані автоматично видаляються, крім випадків: використання корпоративних облікових записів в межах домену nuwm.edu.ua; згоди користувача на продовження зберігання таких даних на термін визначений системою.
								</p>
								<p>
									Якщо Ви добровільно надаєте нам персональну інформацію, ми зобов'язуємося не використовувати, не обробляти і не передавати таку інформацію у спосіб, що виходить за межі вимог чинного законодавства України або зазначається Вами у заяві про згоду. Передача персональних даних може здійснюватися лише в порядку, передбаченому чинним законодавством України.
								</p>
								<p>
									НУВГП зобов'язується дбайливо зберігати Ваші персональні дані і вживати усіх запобіжних заходів для їхнього захисту від втрати, неправильного використання або внесення змін.
								</p>
								<p>
									На нашому веб-порталі та у мобільному додатку ми використовуємо аналітичні та інші сервіси, які збирають сторонні файли сookie (для веб-порталу) або ідентифікатори пристроїв (для мобільного додатку): Google Analytics (Політика конфіденційності Google), Facebook (Політика конфіденційності Facebook). Інформація про використання користувачами веб-сайтів та додатків (включаючи IP-адреси), згенерованих файлами сookie або ідентифікаторами, буде передаватися і зберігатися на серверах цих сервісів.
								</p>
								<p>
									НУВГП може використовувати Ваші дані для здійснення інформаційно-пізнавальної розсилки (щотижневих новин, ситуативних пропозицій, дайджестів), персоналізації веб-порталу та мобільного додатку для певних груп з певними правами доступу, відправки повідомлень електронною поштою, розгляд скарг та запитів з приводу роботи веб-порталу та додатку, модерації коментарів (повідомлень, обговорень). В цьому випадку ми можемо користуватися даними, які Ви залишаєте при реєстрації на веб-порталі або у мобільному додатку, при оформлені підписки на розсилку повідомлень, при залишенні таких даних в анкеті зворотного зв’язку під час відвідування заходів НУВГП, або залишення Вами даних для нас в інший відкритий спосіб.
								</p>

								<h3>4. Застосування файлів cookie та ідентифікаторів пристроїв</h3>

								<p>
									Ми використовуємо файли cookie (для веб-порталу) та ідентифікатори пристроїв (для мобільного додатку) для поліпшення роботи веб-порталу та додатку, а також для забезпечення певних налаштувань для кожного користувача.
								</p>
								<p>
									Файли cookie – це невеликі блоки даних, які розміщуються на тимчасове зберігання на жорсткий диск вашого комп’ютера для того, щоб ви могли більш ефективно користуватися нашим веб-сайтом. Ідентифікатори пристроїв – це унікальні ідентифікатори, що присвоюються вашому мобільному пристрою. Ані файли cookie, ані ідентифікатори пристроїв не містять жодної персональної інформації про Вас та можуть бути використані для ідентифікації окремого користувача. Нерідко файл cookie або ідентифікатор пристрою містить унікальний ідентифікатор, який є анонімним номером (генерується у довільному порядку) і зберігається Вашим комп’ютером або мобільним пристроєм. Деякі файли видаляються після завершення сеансу роботи з веб-сайтом або додатком, а інші залишаються у Вашому комп’ютері або у мобільному пристрої упродовж більш тривалого часу.
								</p>
								<p>
									Користуючись нашим веб-сайтом або мобільним додатком, Ви надаєте згоду на використання і зберігання файлів cookie або ідентифікаторів пристроїв на Вашому пристрої. Ви можете переглядати наш веб-сайт або користуватися додатком без використання файлів cookie/ідентифікаторів, але при цьому доступ до деяких сервісів для Вас буде обмежений.
								</p>
								<p>
									Ви можете відключити збереження файлів cookie на Вашому пристрої, вибравши в налаштуваннях свого браузера опцію «не брати файли cookie». Слід пам'ятати, що більшість браузерів приймають файли cookie автоматично. У налаштуваннях мобільного пристрою Ви можете керувати доступом до ідентифікаторів пристроїв та сповіщень.
								</p>
								<p>
									До всього іншого, ви можете в будь-який час видалити файли cookie, які були збережені на вашому пристрої. Інструкції з видалення файлів cookie можна знайти в керівництві до браузеру або пристрою.
								</p>

								<h3>5. Відстеження з використанням мережі Інтернет та мобільних додатків</h3>

								<p>
									На цьому веб-порталі та у мобільному додатку здійснюється збирання та збереження даних для цілей маркетингу та оптимізації з використанням технології Google Analytics.
								</p>
								<p>
									Нашою системою аналітики враховуються відомості з файлів cookie, ідентифікатори користувачів (наприклад, User ID) та інформація про використання додатку (переглянуті екрани тощо). Термін зберігання даних в нашому акаунті Google Analytics – 26 місяців. Після закінчення терміну зберігання дані автоматично видаляються.
								</p>

								<h3>6. Ваші запити</h3>

								<p>
									Збережені дані будуть видалені НУВГП після закінчення терміну зберігання, встановленого законодавством або угодою, або у випадку, якщо НУВГП більше не потребує збереження тих або інших даних. Ви маєте право у будь-який час вимагати видалення інформації про Вас з бази даних НУВГП. Ви також маєте право у будь-який час відкликати Вашу згоду на використання або обробку Ваших персональних даних. У таких випадках, а також, якщо у Вас виникають якісь інші побажання, пов'язані з Вашими персональними даними, просимо Вас надіслати лист на адресу: НУВГП, 33028, м. Рівне, вул. Соборна 11, або електронною поштою mail@nuwm.edu.ua
								</p>

								<h3>7. Використання плагінів соціальних мереж</h3>

								<p>
									Технічне оснащення сторінок нашого веб-порталу включає в себе плагіни соціальної мережі facebook.com, керування якою відбувається зі штаб-квартири компанії Facebook Inc, розташованої в США, штат Каліфорнія, Пало Альто, Авеню Каліфорнія 94304, вул.1601 (надалі «Facebook»).
								</p>
								<p>
									Ці плагіни можуть бути кнопками «Like» або відповідно «Мені подобається» в мережі Facebook. Якщо Ви відвідуєте одну з наших веб-сторінок, оснащену таким плагіном, ваш Інтернет-браузер безпосередньо підключить Вас до серверів Facebook і на екрані відобразиться плагін, зареєстрований через ваш браузер. Плагін передаватиме на сервер Facebook дані про те, які саме наші веб-сторінки Ви відвідали. Якщо Ви маєте обліковий запис на Facebook і Ви зайшли у систему під своїм акаунтом, під час відвідування нашої веб-сторінки Facebook пов'язуватиме цю інформацію з Вашим аккаунтом.
								</p>
								<p>
									У разі використання будь-яких функцій плагіна (наприклад, при натисканні кнопки «Мені подобається» чи коментуванні), ця інформація також буде синхронізована з Вашим аккаунтом на Facebook.
								</p>
								<p>
									Більш детальну інформацію про збір та використання даних мережею Facebook, а також про права і можливості захисту персональних даних в даному контексті можна знайти в розділі про захист персональних даних на сайті Facebook.
								</p>
								<p>
									Щоб уникнути зв'язку мережі Facebook з нашими веб-сторінками та подальшого зв’язку даної інформації з Вашим аккаунтом, Вам потрібно вийти з облікового запису Facebook перед відвідуванням наших веб-сторінок.
								</p>

								<h3>8. Використання модулів, вбудованих у соціальні мережі</h3>

								<p>
									Наш веб-портал передбачає можливість вбудовування модулів («вбудовані модулі») для соціальних мереж facebook.com, Twitter. Відповідні сервіси надані компаніями Facebook Inc. та Twitter Inc. відповідно («провайдери»). 
									<a href="https://developers.facebook.com/docs/plugins">
										https://developers.facebook.com/docs/plugins
									</a>
								</p>
								<p>
									Управління соціальною мережею Twitter здійснює компанія Twitter Inc., 1355 Market St, Suite 900, San Francisco, CA 94103, USA. Для перегляду екранних кнопок мережі Twitter та їхнього вигляду перейдіть за посиланням 
									<a href="https://dev.twitter.com/web/tweet-button">
										https://dev.twitter.com/web/tweet-button
									</a>
								</p>
								<p>
									Для підвищення ступеню захисту ваших даних під час відвідання наших веб-сторінок ці вбудовані модулі працюють, як кнопки, що активуються кліком миші. Така форма вбудовування передбачає, що при переході на будь-яку сторінку з нашого сайту, який містить такі вбудовані модулі, ви не будете автоматично підключені до серверів провайдерів. Лише у тому разі, якщо Ви активуєте вбудований модуль і цим дозволите передачу даних, браузер створить пряме з’єднання&nbsp; з серверами провайдерів. Вміст різних вбудованих модулів у подальшому передається відповідним провайдером безпосередньо у ваш браузер і виводиться на екран вашого комп’ютера.
								</p>
								<p>
									Вбудований модуль повідомляє провайдера, на яку сторінку нашого веб-порталу Ви зайшли. Якщо під час перегляду нашого веб-порталу ви увійшли у мережу Facebook або Twitter під своїм обліковим записом, відповідний провайдер може підібрати інформацію відповідно до ваших інтересів, тобто інформацію, яку ви переглядаєте під своїм обліковим записом. У разі користування будь-якою функцією вбудованого модуля (наприклад, кнопкою «Подобається» або розміщенням коментаря) ця інформація також буде передана браузером безпосередньо провайдеру для збереження.
								</p>
								<p>
									Додаткову інформацію стосовно збирання та використання даних соціальними мережами Facebook або Twitter, а також щодо прав та можливостей захисту вашої конфіденційності у зазначених обставинах можна знайти у рекомендаціях провайдерів щодо захисту даних/конфіденційності:
								</p>
								<p>
									Рекомендації щодо захисту даних/конфіденційності, випущені мережею Facebook: 
									<a href="http://www.facebook.com/policy.php">
										http://www.facebook.com/policy.php
									</a>
								</p>
								<p>
									Рекомендації щодо захисту даних/конфіденційності, випущені мережею Twitter: 
									<a href="https://twitter.com/privacy">
										https://twitter.com/privacy
									</a>
								</p>
								<p>
									Для того, щоб не підключатись до облікових записів у мережах Facebook або Twitter під час відвідання нашого веб-порталу, вам слід відключитись від відповідного облікового запису перед відвіданням наших веб-сторінок.
								</p>
	
							</div>
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</div>
<!-- PRIVACY POLICY END -->
{% endblock %}

{% block javascript %}{% endblock %}
