{% extends 'base.html' %}
{% load static %}

{% block css %}{% endblock %}

{% block content %}
		<!-- BLOG AREA -->
		<div class="blog_area blog-grid left-sidebar pb-80" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb" class="mb-4">
							<ol class="breadcrumb bg-white px-3 py-2 rounded shadow-sm">
								<li class="breadcrumb-item">
									<a href="/"><i class="fa fa-home"></i> Головна</a>
								</li>
								<li class="breadcrumb-item">
									<a href="{% url 'blog:post_list' %}"><i class="fa fa-newspaper-o"></i> Новини, оголошення</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									{{ post.title }}
								</li>
							</ol>
						</nav>
					</div>
				</div>

				<div class="row">
					{% include 'blog/sidebar.html' %}

					<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-12">
							<div class="blog_details">
								<div class="blog_dtl_thumb">
								<img src="{{ post.wallpaper.url }}" alt="{{ post.title }}" />
								</div>
			
								<div class="blog_dtl_content">
								<div class="blog_dtl_top_bs pt-2">
									<span>{{ post.get_kind }}</span>
								</div>
								<h2>{{ post.title }}</h2>
								<!-- BLOG META -->
								<div class="techno-blog-meta">
									<div class="techno-blog-meta-left">
									<span><i class="fa fa-calendar"></i> {{ post.date_published|date:"d.m.Y" }} </span>
									<span><i class="fa fa-user"></i> {{ post.author }} </span>
									</div>
								</div>

								{{ post.content|safe }}
			
			
								</div>
							</div>
							</div>
							
						</div>

						
					</div>
				</div>
			</div>
		</div>
		<!-- BLOG_AREA END -->
{% endblock %}

{% block javascript %}{% endblock %}