{% extends 'base.html' %}
{% load static %}

{% block css %}{% endblock %}

{% block content %}
		<!-- BLOG AREA -->
		<div class="blog_area blog-grid left-sidebar pb-80" id="blog">
			<div class="container">

				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb" class="mb-4">
							<ol class="breadcrumb bg-white px-3 py-2 rounded shadow-sm">
								<li class="breadcrumb-item">
									<a href="/"><i class="fa fa-home"></i> Головна</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									Новини, оголошення
								</li>
							</ol>
						</nav>
					</div>
				</div>

				<div class="row">
					{% include 'blog/sidebar.html' %}

					<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
						<div class="row">
							{% for post in posts %}
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<div class="single_blog mb-4">
										<div class="single_blog_thumb pb-4">
											<a href="{{ post.get_absolute_url }}">
												<img src="{{ post.wallpaper.url }}" alt="{{ post.title }}">
											</a>
										</div>
										<div class="single_blog_content pl-4 pr-4">
											<div class="techno_blog_meta">
												<a href="javascript:void(0);">{{ post.date_published|date:"d.m.Y" }} </a>
												<span class="meta-date pl-3">{{ post.get_kind }}</span>
											</div>
											<div class="blog_page_title pb-1">
												<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
											</div>
											<div class="blog_description">
												<p>{{ post.content|striptags|truncatechars:100|safe }}</p>
											</div>
											<div class="blog_page_button pb-4">
												<a href="{{ post.get_absolute_url }}">
													Читати далі
													<i class="fa fa-long-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BLOG_AREA END -->
{% endblock %}

{% block javascript %}{% endblock %}