{% load static %}
<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 sidebar-right content-widget pdsr">
    <div class="blog-left-side widget">
        <div id="categories-3" class="widget widget_categories">
            <h2 class="widget-title">Категорії</h2>
            <ul>
                <li class="cat-item cat-item-8">
                    <a href="{% url 'blog:post_list' %}?filter=news">
                        <i class="fa-solid fa-newspaper"></i>
                        Новини
                    </a>
                </li>
                <li class="cat-item cat-item-10">
                    <a href="{% url 'blog:post_list' %}?filter=announcements">
                        <i class="fa fa-bullhorn"></i>
                        Оголошення
                    </a>
                </li>
                <li class="cat-item cat-item-10">
                    <a href="{% url 'blog:post_list' %}?filter=drafts">
                        <i class="fa fa-pencil"></i>
                        Чернетки
                    </a>
                </li>
                <li class="cat-item cat-item-10">
                    <a href="{% url 'blog:post_add' %}">
                        <i class="fa fa-plus-circle"></i>
                        Додати новину/оголошення
                    </a>
                </li>
            </ul>
        </div>
        
        <div id="em_recent_post_widget-6" class="widget widget_recent_data">
            <div class="single-widget-item">
                <h2 class="widget-title">Оголошення</h2>
                {% for post in announcements %}
                    <div class="recent-post-item">
                        <div class="recent-post-image">
                            <a href="{{ post.get_absolute_url }}">
                                <img width="100" height="75" src="{{ post.wallpaper.url }}" alt="{{ post.title }}">
                            </a>
                        </div>
                        <div class="recent-post-text">
                            <h4>
                                <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
                            </h4>
                            <span class="rcomment">{{ post.date_published|date:"d.m.Y" }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        
     
    </div>
</div>