<div class="header_top_menu pt-2 pb-2 bg-warning text-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="maintenance-notification text-center">
          <div class="maintenance-notification-inner">
            <i class="fa-solid fa-tools me-2"></i>
            <span class="fw-bold">Сайт знаходиться на технічному обслуговуванні. Перепрошуємо за незручності.</span>
            <i class="fa-solid fa-tools ms-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
